Create a New Comic:<br>
    <form method="POST" action="/comics">
        <label>Comic Title:</label>
        <input type="text" name="comic[title]">
        <lable>Comic published:</lable>
        <input type="text" name="comic[published]">
        <lable>Comic Summary:</lable>
        <input type="text" name="comic[summary]">
        <lable>Comic Author:</lable>
        <input type="text" name="comic[author]">
         <lable>Comic Illustrator:</lable>
        <input type="text" name="comic[illustrator]">


        <input type="submit" value="Create Comic">
     </form>