<!DOCTYPE html>
<html>
    <head>
        <title>SuperHeros</title>
        <meta Charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"/>
      
     </head>
     <body>
        <% if logged_in? %>
          <a href="/logout">Log out</a>
          <a href="/users/<%=current_user.id%>">Home</a>
          <%else%>
          <a href="/">Signup/Login</a>
        <% end %>
        <h1>Super Comics</h1>
        <%= yield %>
     </body>
  </html>
