<!DOCTYPE html>
    <html>
      <head>
        <title>SuperHeros</title>
        <meta Charset="UTF-8">
      </head>
     <body>
        <h1>Super Comics App</h1>
        <%= yield %>
     </body>
    </html>
